$phone: 500px;


.noteGroup {
    border: 1px solid rgba(134, 134, 134, 0.356);
}
.noteCardHeader{
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 0;
    text-align: center;
    padding: 2%;
    border: 1px solid rgba(134, 134, 134, 0.356);

    h2{
        position: relative;
        margin-top: -5%;
    }
    .container{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .buttons{
        display: flex;
        align-self: flex-start;
        justify-content: space-evenly;
        width: 80%;
        margin-top: 2%;
    }
    .noteCardTag{
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        width: 4rem;
        height: 4rem;
        font-size: 20px;
        font-weight: 700;
        span{
            margin-right: 20%;
            margin-top: 5%;
        }
    }
}

.addNote{
    z-index: 990;
}
.noteGroup{
    padding: 0 1%;
    background-color: gray;
    width: 100%;
    margin: 1% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
    min-height: 100px;
    color: white;
    padding: 0 5%;
    h2 {
        font-size: 2rem;
    }

    @media screen and (max-width: $phone) {
        min-width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            border-radius: 10px;
            padding: 5px 12px;
            margin: 0 1rem;
        }
        button {
            margin-top: 2%;
        }
    }
}

.noteGroups {
    width: 100%;
    height: 85vh;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1%;
    .topSection {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 0 2%;
        h2 {
            color: #8d8d8d;
        }
    }
}
.noteGroup:nth-child(even) {
    background-color: rgb(227, 241, 255);
}
.noteGroup:nth-child(odd) {
    background-color: #ececec;
}