$phone: 500px;

.noteGroupForm {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 990;
    @media screen and (max-width: $phone) {
        form {
            display: flex;
            flex-direction: column;
            min-width: 100%;
            input {
                margin-bottom: 3%;
                width: 80vw
            }
            button {
                margin-top: 3%;
                width: 70%;
                margin-bottom: 5%;
            }
        }
    }
}