
.noteGroup {
    border: 2px solid black;
}
.noteCardHeader{
    width: 100%;
    max-height: 700px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 0;
    text-align: center;


    h2{
        position: relative;
        margin-top: -5%;
    }
    .container{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .buttons{
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
        width: 80%;
        margin-top: 2%;
    }
    .noteCardTag{
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        width: 4rem;
        height: 4rem;
        font-size: 20px;
        font-weight: 700;
        span{
            margin-right: 20%;
            margin-top: 5%;
        }
    }
}

.addNote{
    z-index: 999;
}
.noteGroup{
    padding: 0 2%;
    padding-bottom: 2%;
    background-color: gray;
    width: 20%;
    margin: 2%;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5%;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            border-radius: 10px;
            padding: 5px 12px;
            margin: 0 1rem;
        }
        button {
            margin-top: 2%;
            width: 100px;
        }
    }
}

.noteGroups {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}