.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 5%;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    input{
        margin: 10px 0;
        padding: 5px 15px;
        border-radius: 10px;
        width: 100%;
    }
    .user-buttons{
        display: flex;
        justify-content: space-evenly;
        button{
            width: 50%;
            padding: 5px 15px;
            border-radius: 10px;
            margin: 0 15px;
        }
    }
    
}
.user-forms{
    display: flex;
    justify-content: space-evenly;
}