.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navBar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .navLink{
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
}

*{
  box-sizing: border-box;
}